.row {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

.col2{
    flex: 1;
    margin: 10px;
}

.col2 > input {
    width: 100%;
}

.col2 > input {
    padding: 5px 10px;
}

label::after{
    content: "*";
    margin-left: 5px;
    color: red;
}