@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sectionP1 {
    padding: 0 140px;

}

#collection {
    font-family: 'Nunito Sans', sans-serif;
}

.sectionM1 {
    margin: 100px 0;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: rgb(41, 36, 33);
    color: rgba(235, 235, 235, 0.9);
    position: relative;
}

.hero div:nth-child(1) {
    width: 25%;
    text-align: start;
}

.hero div:nth-child(1) h2 {
    font-size: 39px;
    font-weight: 500;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
}

.hero div:nth-child(1) span {
    padding-top: 45px;
    color: rgb(135, 135, 135);
    font-size: 16px;
    font-weight: 500;
    letter-spacing: .7px;
}

.hero div:nth-child(1) p {
    color: rgb(200, 195, 195);
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 3.5px;
}

.hero div:nth-child(2) {
    width: 60%;
}

.hero div:nth-child(2) img {
    width: 86%;

}

#collection>.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: start;
}

#collection>.heading>div:nth-child(1) h1 {
    font-size: 30px;
    font-weight: 400;
    font-family: 'Oswald', sans-serif;
    color: rgba(0, 0, 0, 0.93);
    margin-bottom: 10px;
}

#collection>.heading>div:nth-child(1) span {
    font-size: 13.5px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.9);
}

#collection>.heading>div:nth-child(2) p {
    font-size: 14px;
    letter-spacing: 3px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.9);
}

#collection .productContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-top: 60px;
}

#collection .card {
    display: flex;
    width: 24.5%;
    flex-direction: column;
    text-align: start;
}

#collection .cardImg {
    width: 100%;
    height: 296px;
    background-color: rgb(249, 248, 246);
}

#collection .cardTitle {
    font-size: 15px;
    color: rgba(0, 0, 0, 0.92);
    font-weight: 600;
    margin-top: 4px;
}

#collection .cardDesc {
    font-size: 14px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.878);
}

#collection .cardPrice {
    font-size: 14px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.508);
}

#categories {
    display: flex;
    /* border: 2px solid blue; */
    justify-content: space-between;
}

#categories>div:nth-child(1) {
    width: 40%;
    /* border: 2px solid rgb(0, 255, 123); */
    padding: 35px 0px 50px 5px;
    text-align: start;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

#categories>div:nth-child(1)>div>h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 10px;
}

#categories>div:nth-child(1)>div>span {
    font-size: 14px;
    font-weight: 500;
    color: rgba(16, 16, 16, 0.77);
}


#categories>div:nth-child(1)>p {
    font-size: 14px;
    letter-spacing: 3px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.9);
}

#categories>div:nth-child(1)>.linkContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 30px;
    height: 60%;
}

#categories>div:nth-child(1)>.linkContainer span {
    font-size: 14px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.836);
}

.currentLink {
    font-size: 17px !important;
    text-decoration: underline;

}


#categories>div:nth-child(2) {
    width: 50%;

    /* border: 2px solid rgb(255, 0, 0); */
}

#categories>div:nth-child(2) img {
    width: 618px;
    height: 618px;

}

#gifts {
    background-color: rgb(56, 56, 56);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0;
}

#gifts>div:nth-child(1) {
    width: 50%;
}

#gifts>div:nth-child(1) img {
    width: 100%;
}

#gifts>div:nth-child(2) {
    width: 50%;
    color: rgba(255, 255, 255, 0.926);
    text-align: start;
}

#gifts>div:nth-child(2) h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 35px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 25px;
}

#gifts>div:nth-child(2) p {
    font-size: 13px;
    font-weight: 400;
    width: 70%;
    color: rgba(255, 255, 255, 0.774);
    letter-spacing: 0.7px;
}

#gifts>div:nth-child(2) span {
    font-family: 'Oswald', sans-serif;
    letter-spacing: 5px;
    font-weight: 400;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.925);
}

#about .firstDiv {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 0;

}

#about .firstDiv>div:nth-child(1) {
    width: 50%;
    text-align: start;
}

#about .firstDiv>div:nth-child(1) h1 {
    font-size: 35px;
    font-weight: 500;
    font-family: 'Oswald', sans-serif;
    color: rgba(0, 0, 0, 0.953);
}

#about .firstDiv>div:nth-child(1) h1+p {
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.7);
    margin-bottom: 50px;
}

#about .firstDiv>div:nth-child(1) p {
    width: 75%;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.7);
    margin-bottom: 30px;
}

#about .firstDiv>div:nth-child(1) span {
    /* font-family: 'Oswald', sans-serif; */
    letter-spacing: 5px;
    font-weight: 500;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.85);
}

#about .firstDiv>div:nth-child(2) {

    font-family: 'Oswald', sans-serif;
    font-size: 360px;
    font-weight: 900;
    color: rgb(196, 194, 195);
}

#about .secondDiv {
    /* border: 1px solid violet; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#about .secondDiv>div:nth-child(1) {
    width: 47%;
}

#about .secondDiv>div:nth-child(1) img {
    width: 100%;
}


#about .secondDiv>div:nth-child(2) {
    width: 47%;
    text-align: start;
}

#about .secondDiv>div:nth-child(2) h1 {
    font-size: 33px;
    width: 50%;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.837);
}

#about .secondDiv>div:nth-child(2) p {
    margin-top: 6px;
    margin-bottom: 70px;
    font-size: 14px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.638);
}

#about .secondDiv>div:nth-child(2) span {
    font-size: 13px;
    letter-spacing: 5px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.968);
}