.navbar {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgb(38, 36, 37);
  z-index: 100;
}

.logo {
  width: 60px;
}

.nav_child1 {
  cursor: pointer;
  color: white;
  display: flex;
  justify-content: space-between;
  gap: 25px;
  margin-right: 900px;
}

.nav_child2 {
  cursor: pointer;
  color: white;
  display: flex;
  justify-content: space-between;
  gap: 25px;
  text-align: center;
  align-items: center;
}

.btn {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-weight: 500;
  font-size: medium;
}

.clicked {
  color: rgb(125, 125, 15);
}

.nav_child1 span:hover {
  color: #ff9900;
}

.nav_child2 button:hover {
  color: #ff9900;
}

.parent_div {
  display: flex;
  justify-content: space-between;
}
.menu {
  display: none;
  position: absolute;
  top: 0.75rem;
  right: 0.5rem;
  flex-direction: column;
  justify-content: space-between;
  width: 2.25rem;
  height: 2rem;
}

.menu span {
  height: 0.4rem;
  width: 100%;
  background-color: #fff;
  border-radius: 0.2rem;
}



@media (max-width: 480px) {
  .menu {
    display: none;
  }

  .logo{
    margin-top: 22px;
    margin-bottom: -25px;
  }
  .navbar {
    flex-direction: column;
    height: none;
    padding-bottom: 10px;
    font-size: small;
    padding: 0px 10px 0px 10px;
  }
 
  .parent_div {
    display: flex;
    
  }
  
  .nav_child1,
  .nav_child2 {
    margin: 15px 0;
    gap: 2px;
  }
}
 



 @media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    height: none;
    padding-bottom: 10px;
  }
  .logo{
    margin-top: 22px;
    margin-bottom: -25px;
  }

  .nav_child1,
  .nav_child2 {
    margin: 15px 0;
    gap: 10px;
  }

  .btn {
    font-size: small;
  }
}  


@media(max-width: 1280px){
 

  .logo{
    margin-top: 22px;
    margin-bottom: -25px;
  }
  .navbar {
    flex-direction: column;
    height: none;
    padding-bottom: 10px;
    font-size: small;
    padding: 0px 10px 0px 10px;
  }
 
  /* .parent_div {
    display: flex;
    
  } */
  
  .nav_child1,
  .nav_child2 {
    margin: 15px 0;
    gap: 2px;
  }
} 
