@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sectionP1 {
    padding: 35px 140px 0px 140px;
    background-color: rgb(41, 36, 33);
    color: rgba(235, 235, 235, 0.9);
    position: relative;
}

.navbar {

    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Nunito Sans', sans-serif;
}

.navbar a {
    text-decoration: none;
    color: rgba(235, 235, 235, 0.9);

}

.leftNav,
.rightNav {
    display: flex;
    gap: 60px;
    font-size: 18px;
    font-weight: 500;

}

.logoNav {
    font-family: 'Oswald', sans-serif;
    font-size: 27px;
    letter-spacing: 1.5px;
    font-weight: 900;

}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.hero div:nth-child(1) {
    width: 25%;
    text-align: start;
}

.hero div:nth-child(1) h2 {
    font-size: 39px;
    font-weight: 500;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
}

.hero div:nth-child(1) span {
    padding-top: 45px;
    color: rgb(135, 135, 135);
    font-size: 16px;
    font-weight: 500;
    letter-spacing: .7px;
}

.hero div:nth-child(1) p {
    color: rgb(200, 195, 195);
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 3.5px;
}

.hero div:nth-child(2) {
    width: 60%;
}

.hero div:nth-child(2) img {
    width: 86%;

}