.App {
  text-align: center;
}
.theme-Btn{
  width: 50px;
  border-radius: 60%;
  background-color: rgb(228, 207, 207);
}
.light{
  background-color: white;
  color: black;
}
.dark{
  background-color: black;
  color: rgb(255, 255, 255);
}