.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nunito-300-light{
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 300;
}

.nunito-400-regular{
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
}

.oswald-500-medium{
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
}

.m-0{
  margin: 0px;
}

.theme-Btn{
  width: 50px;
  border-radius: 60%;
  background-color: rgb(228, 207, 207);
}
.light{
  background-color: white;
  color: black;
}
.dark{
  background-color: black;
  color: rgb(255, 255, 255);
}
